body {
  border: dashed 0.1rem #006b09;
  border-radius: 15px;
  box-shadow: 0.5em 1em 0.5em 0em rgba(64, 73, 59, 0.281);
  width: 25vw;
  min-height: 96vh;
  margin: 1.5vw 1vw 0 2vw;
  padding: 0 1vw;
}

header {
  box-sizing: border-box;
  font: 1.7vw Helvetica;
  font-weight: bold;
  border-bottom: 3px #07b148 solid;
}
p {
  margin-bottom: 0;
  padding: 0;
}
.authorForm {
  margin-top: 2vw;
}
.labelAuthor {
  font: 1.4vw Helvetica;
  width: 100vw;
}
#authorSetting {
  width: 23vw;
  border: none;
  outline: none;
  border-bottom: 2px solid #40493b;
  font-size: 14px;
  padding: 7px 0 5px 10px;
}
.headingForm {
  margin-top: 2vw;
}
.labelHeading {
  font: 1.4vw Helvetica;
  width: 100vw;
}
#headingSetting {
  height: 3vh;
  width: 23vw;
  border-radius: 6px;
  border: 2px solid #40493b;
  font-size: 14px;
  padding: 7px 0 5px 10px;
}
.categoryForm {
  margin-top: 2vw;
}
.labelCategory {
  font: 1.4vw Helvetica;
  width: 100vw;
}
#сategorySetting {
  width: 23vw;
  border: none;
  outline: none;
  border-bottom: 2px solid #40493b;
  font-size: 14px;
  padding: 7px 0 5px 10px;
}
.contentForm {
  margin-top: 2vw;
}
.labelСontent {
  font: 1.4vw Helvetica;
}
#contentSetting {
  height: 15vh;
  width: 23vw;
  border: 2px solid #40493b;
  font-size: 14px;
}
button {
  box-sizing: border-box;
  position: absolute;
  width: 10vw;
  height: 3vw;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 0 5px 5px;
  background-color: #006b09;
  color: white;
  font-weight: bold;
  transform: translate(+1%, +50%);
  cursor: pointer;
}
button:hover {
  background-color: #024b08;
}
.arhiveName {
  margin-top: 15vh;
  font: 1.7vw Helvetica;
  font-weight: bold;
  border-bottom: 3px solid #07b148;
  width: 25vw;
}
