<p>child-component works!</p>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Adaptive table</title>-->
<!--  <style>-->
<!--    body{-->
<!--      font-family: Arial, Helvetica, sans-serif;-->
<!--    }-->
<!--    table{-->
<!--      width: 100%;-->
<!--      border: 1px solid rgb(222, 222, 222);-->
<!--      border-collapse: collapse;-->
<!--    }-->
<!--    td{-->
<!--      border-bottom: 1px solid rgb(222, 222, 222);-->
<!--      border-collapse: collapse;-->
<!--    }-->
<!--    th{-->
<!--      border-bottom: 1px solid rgb(222, 222, 222);-->
<!--      border-collapse: collapse;-->
<!--    }-->
<!--    tr{-->
<!--      border-bottom: 1px solid rgb(222, 222, 222);-->
<!--      border-collapse: collapse;-->
<!--    }-->
<!--    tr:nth-child(2n){-->
<!--      background: #d7d7d7;-->
<!--    }-->
<!--    tr:nth-child(1){-->
<!--      background: black;-->
<!--      color: white;-->
<!--    }-->
<!--    tr:nth-child(3){-->
<!--      background: #f0f0f0;-->
<!--    }-->
<!--    tr:hover td{-->
<!--      background: rgb(0, 0, 0);-->
<!--      color: rgb(255, 255, 255);-->
<!--    }-->
<!--    @media screen and (min-width:1201px) {-->
<!--      table {-->
<!--        width: 800px;-->
<!--      }-->
<!--      th {-->
<!--        background-color: rgb(50, 50, 50);-->
<!--        color: white;-->
<!--        padding-left: 10px;-->
<!--      }-->
<!--      td {-->
<!--        width: 33%;-->
<!--      }-->
<!--    }-->

<!--    @media screen and (min-width:901px) and (max-width:1200px) {-->
<!--      table {-->
<!--        width: 600px;-->
<!--      }-->
<!--      th {-->
<!--        background-color: rgb(50, 50, 50);-->
<!--        color: white;-->
<!--        padding-left: 10px;-->
<!--      }-->
<!--      td {-->
<!--        width: 33%;-->
<!--      }-->
<!--    }-->

<!--    @media screen and (min-width:601px) and (max-width:900px) {-->
<!--      table {-->
<!--        width: 300px;-->
<!--      }-->
<!--      thead {-->
<!--        display: none;-->
<!--      }-->
<!--      td {-->
<!--        display: block;-->
<!--        text-align: left;-->
<!--        padding-left: 20px;-->
<!--        font-weight: normal;-->
<!--      }-->
<!--      td::before {-->
<!--        content: attr(data-title);-->
<!--        float: left;-->
<!--        font-weight: bold;-->
<!--        margin-right: 20px;-->
<!--      }-->
<!--      tr:nth-child(1){-->
<!--        display: none;-->
<!--      }-->
<!--    }-->

<!--    @media screen and (max-width:600px) {-->
<!--      table {-->
<!--        width: 200px;-->
<!--      }-->
<!--      thead {-->
<!--        display: none;-->
<!--      }-->
<!--      td {-->
<!--        display: block;-->
<!--        text-align: left;-->
<!--        font-weight: normal;-->
<!--      }-->
<!--      td::before {-->
<!--        content: attr(data-title);-->
<!--        float: left;-->
<!--        font-weight: bold;-->
<!--        margin-right: 10px;-->
<!--      }-->
<!--      tr:nth-child(1){-->
<!--        display: none;-->
<!--      }-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->
<!--<table>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>First Name</td>-->
<!--    <td>PLast Name</td>-->
<!--    <td>Job Title</td>-->
<!--  </tr>-->
<!--  <tr >-->
<!--    <td>James</td>-->
<!--    <td>Matman</td>-->
<!--    <td>Cheif Sendvich Eater</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Jon</td>-->
<!--    <td>Doe</td>-->
<!--    <td>Cheif Sendvich Eater</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
